NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Potrebno tek kada se uključi stvarno slanje poziva emailom.
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=
MEMBER_INVITATION_FROM_EMAIL=
